/* 1025 */
@media(max-width:1025px) {
    header .hero .left {
        max-width: 428px;
    }
    .header .hero .left .title {
        max-width: 428px;
        font-size: 56px;
        background: #000;
    }
    
    .header .hero .left .text {
        max-width: 428px;
        font-size: 17px;
    }
    
    .header .hero .left .info {
        gap: 15px;
        max-width: 428px;
    }
    
    .header .hero .right{
        max-width: 428px;
    }
    };


/* 991 */
@media(max-width:991px) {
    header .navbar .logo{
        width: 150px;
        height: 20px;
    }
    .header .navbar .menu .navbar-nav {
      
        justify-content: flex-end;
        gap: 7px;
    
    } 
   
.header .navbar .menu .navbar-nav li {
    font-size: 12px;
    padding: 0 8px;
}

.header .navbar .menu .navbar-nav li a {
    font-family: 'sans-600';
}

.header .navbar .menu .navbar-nav li:hover {
    background: #A259FF;
    border-radius: 20px;
    
}
/* hero */
.header .hero .left {
    max-width: 428px;
}
.header .hero .left .title {
    max-width: 428px;
    font-size: 56px;
    background: #000;
}

.header .hero .left .text {
    max-width: 428px;
    font-size: 17px;
}

.header .hero .left .info {
    gap: 15px;
    max-width: 428px;
}

.header .hero .right{
    max-width: 428px;
    height: 330px;
    
}
};

/* 770px */
@media(max-width:770px) {}

/* 570px */
@media(max-width:570px) {
}

/* 425px */
@media(max-width:425px) {

}